.custom-modal {
    display: none;
    position: fixed;
    z-index: 6;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7); /* Black with opacity */
    padding: 10px; /* Отступы от краев страницы */
    box-sizing: border-box;
}

.custom-modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    max-height: calc(100vh - 20px);
    overflow-y: auto;
    position: relative;
    box-sizing: border-box;
}

.custom-modal-image {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.swiper-slide {
    display: flex;
    flex-direction: column; /* Расположение изображений в столбик */
    align-items: center;
    justify-content: center;
    height: 100%;
    box-sizing: border-box;
    padding: 20px; /* Общие отступы вокруг слайда */
}

.swiper-slide img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    margin-bottom: 20px; /* Отступ снизу между изображениями */
    will-change: transform;
    transition: transform 0.3s ease-in-out;
    border-radius: 7px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Убираем отступ у последнего изображения, если не требуется */
.swiper-slide img:last-child {
    margin-bottom: 0;
}


.swiper-button-next, .swiper-button-prev {
    color: #333;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5); /* Тень для лучшей видимости */
}

.swiper-pagination {
    margin-top: 10px;
}

#sboriSlider, #eventsSlider, #samboSlider, #karateSlider, #techvandoSlider {
    overflow-x: hidden; /* Скрыть горизонтальную полосу прокрутки */
    scrollbar-width: none; /* Для Firefox */
}

#sboriSlider::-webkit-scrollbar,
#eventsSlider::-webkit-scrollbar,
#samboSlider::-webkit-scrollbar,
#karateSlider::-webkit-scrollbar,
#techvandoSlider::-webkit-scrollbar {
    display: none; /* Для Chrome, Safari, Opera */
}

