/* Убедитесь, что HTML и body занимают всю высоту */
html, body {
    height: 100%; /* Задает высоту 100% для HTML и body */
    margin: 0; /* Убирает внешние отступы */
}

/* Основной контейнер, использующий flexbox для размещения контента и нижнего колонтитула */
.page-container {
    display: flex; /* Устанавливает flexbox для контейнера */
    flex-direction: column; /* Выстраивает элементы в колонку */
    min-height: 100vh; /* Минимальная высота равна высоте видимой области */
}

/* Область контента, которая расширяется, чтобы вытолкнуть нижний колонтитул вниз */
.content-wrapper {
    flex: 1 0 auto; /* Позволяет контенту расти и занимать доступное пространство */
    padding: 20px; /* Добавляет внутренние отступы */
}

/* Стилизация для метки, выпадающего списка и кнопки */
label, select, button {
    font-size: 30px; /* Устанавливает размер шрифта */
    margin-right: 5px; /* Добавляет отступ справа */
}

/* Стилизация выпадающего списка */
select {
    padding: 10px; /* Внутренние отступы */
    border-radius: 8px; /* Закругленные углы */
    border: 1px solid #ccc; /* Граница вокруг элемента */
    width: auto; /* Ширина элемента */
    appearance: none; /* Убирает стандартный вид */
    background-color: #f8f8f8; /* Цвет фона */
    transition: background-color 0.3s ease; /* Плавный переход цвета фона */
    cursor: pointer; /* Указывает, что это элемент для клика */
}

select:hover {

    background-color: #e2e2e2; /* Цвет фона при наведении */
}

/* Стилизация кнопки */
button {
    padding: 12px 24px; /* Внутренние отступы */
    border-radius: 8px; /* Закругленные углы */
    border: none; /* Убирает границу */
    background-color: #007BFF; /* Цвет фона */
    color: #fff; /* Цвет текста */
    font-weight: bold; /* Жирный шрифт */
    cursor: pointer; /* Указывает, что это элемент для клика */
    transition: background-color 0.3s ease, transform 0.2s ease; /* Плавные переходы цвета фона и трансформации */
}

button:hover {
    background-color: #0056b3; /* Цвет фона при наведении */
    transform: scale(1.05); /* Увеличение кнопки при наведении */
}

/* Стилизация таблицы */
table {
    width: 100%; /* Ширина таблицы */
    border-collapse: collapse; /* Убирает промежутки между ячейками */
    margin-top: 20px; /* Отступ сверху */
}

th, td {
    padding: 12px; /* Внутренние отступы */
    border: 1px solid #ddd; /* Граница вокруг ячеек */
    text-align: left; /* Текст слева */
}

th {
    background-color: #f2f2f2; /* Цвет фона заголовка */
}

tr:hover {
    background-color: #f1f1f1; /* Цвет фона при наведении на строку */
}
