{% extends 'club/base.html' %}
{% block content %}
<h1> {{title}}</h1>
<ul>
    {% for p in posts  %}

        <h2>{{p.title}}</h2>
         {% if p.photos.exists %}

            <p><img class="img-article-left thumb" src="{{p.photos.first.photo.url}}" style="width: 500px; height: auto;"></p>
         {% endif %}


        {% autoescape on%}
        <p>{{p.content | linebreaks|truncatewords:15}}</p>
        {% endautoescape %}

        <div class="clear"></div>
    <div class="article-panel">
    <p class="first">Дата: {{p.time_create|date:"d-m-Y"}}</p>
    </div>
        <p class="link-read-post"><a href="{{p.get_absolute_url}}">Читать полностью</a></p>

    {%endfor%}
</ul>
{% endblock %}