{% extends 'club/base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'club/css/mainmenu.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'club/css/mainmenu-buttons.css' %}" />

<div class="artboard-container-main">
    <div class="artboard-element image-element" data-id="1"></div>
    <div class="artboard-element image-element" data-id="2"></div>
    <div class="artboard-element image-element" data-id="3"></div>

    <div class="logo-image"></div>

    <div class="button-container">
        <button class="custom-button" onclick="openForm('trial', 'sambo')">Записаться на пробное занятие</button>
        <button class="custom-button second-button" onclick="openForm('callback')">Заказать звонок</button>
    </div>

    {% if message_success %}
    <div class="success-message">{{ message_success }}</div>
    {% endif %}

     <div id="overlay" class="overlay" onclick="closeForm()"></div>
    <div id="trial-form-popup" class="form-popup {% if trial_form.errors %}visible{% endif %}">
        <span class="close-button" onclick="closeForm()">&times;</span>
        <form method="post" class="form-container" id="trial-form">
            {% csrf_token %}
            {{ trial_form.non_field_errors }}
            {% for field in trial_form %}
                <div class="form-group">
                    {{ field.label_tag }}
                    {% if field.name == 'sport' %}
                        <select id="sport-select" name="{{ field.name }}">
                            {% for choice in field.field.choices %}
                                <option value="{{ choice.0 }}" {% if choice.0 == field.value %}selected{% endif %}>{{ choice.1 }}</option>
                            {% endfor %}
                        </select>
                    {% else %}
                        {{ field }}
                    {% endif %}
                    {% if field.errors %}
                        <div class="error">{{ field.errors }}</div>
                    {% endif %}
                </div>
            {% endfor %}
            <div class="recaptcha-wrapper">
                <div class="g-recaptcha" data-sitekey="{{ RECAPTCHA_SITE_KEY }}" data-callback="onRecaptchaSuccess"></div>
            </div>
            <button type="submit" name="trial_submit" class="btn" id="submit-btn" disabled>Отправить</button>
        </form>
        {% if message and trial_form.errors %}
            <div class="alert">{{ message }}</div>
        {% endif %}
    </div>

    <div id="callback-form-popup" class="form-popup {% if callback_form.errors %}visible{% endif %}">
        <span class="close-button" onclick="closeForm()">&times;</span>
        <form method="post" class="form-container" id="callback-form">
            {% csrf_token %}
            {{ callback_form.non_field_errors }}
            {% for field in callback_form %}
                <div class="form-group">
                    {{ field.label_tag }}
                    {{ field }}
                    {% if field.errors %}
                        <div class="error">{{ field.errors }}</div>
                    {% endif %}
                </div>
            {% endfor %}
            <div class="recaptcha-wrapper">
                <div class="g-recaptcha" data-sitekey="{{ RECAPTCHA_SITE_KEY }}" data-callback="onRecaptchaSuccess"></div>
            </div>
            <button type="submit" name="callback_submit" class="btn" id="submit-btn-callback" disabled>Отправить</button>
        </form>
        {% if message and callback_form.errors %}
            <div class="alert">{{ message }}</div>
        {% endif %}
    </div>
</div>


<div class="artboard-container">
    <div class="artboard-element image-element" data-id="4"></div>
    <div class="artboard-element image-element" data-id="5"></div>
    <div class="artboard-element image-element" data-id="6"></div>
    <div class="features-section">
        <h2>Мы НЕ зарабатываем на Ваших детях, а прививаем ЛЮБОВЬ К СПОРТУ!</h2>


        <div class="features-grid">
            <div class="feature-item">
                <img src="{% static 'club/images/trener.png' %}" alt="Icon 1">
                <p>Лучшие профессиональные тренеры</p>
            </div>
            <div class="feature-item">
                <img src="{% static 'club/images/bonus.png' %}" alt="Icon 2">
                <p>Бесплатное пробное занятие для всех</p>
            </div>
            <div class="feature-item">
                <img src="{% static 'club/images/discipline.png' %}" alt="Icon 3">
                <p>Воспитание дисциплины и личностных качеств</p>
            </div>
            <div class="feature-item">
                <img src="{% static 'club/images/competitions.png' %}" alt="Icon 4">
                <p>Участие в соревнованиях и сборах</p>
            </div>
            <!-- Add more features as needed -->
        </div>
    </div>
</div>





  <div class="artboard-container">
        <!-- Содержание страницы -->
        <div class="artboard-element image-element" data-id="4"></div>
        <div class="artboard-element image-element" data-id="6"></div>
        <div class="title-for-direction">
            <h1>САМБО</h1>
        </div>
        <div class="training-section">
            <!-- Самбо -->
            <div class="training-item">
                <div class="image-wrapper">
                    <img src="{% static 'club/images/sambo.jpg' %}" alt="самбо" class="training-image">
                </div>
                <div class="text-content-for-direction">
                    <p>Самбо, или самооборона без оружия, — это боевое искусство, которое
                        объединяет техники из различных мировых единоборств. Оно включает элементы из дзюдо, джиу-джитсу,
                        классической борьбы и национальных видов борьбы, что делает его чрезвычайно разнообразным.
                        Самбо славится огромным количеством приёмов, включая броски, захваты, болевые и удушающие техники.
                        Такой арсенал позволяет спортсменам быть универсальными и адаптивными в различных ситуациях на ковре.
                        </p>
                    <div class="button-container-direction">
                        <button id="samboButton" class="custom-button-direction">Подробнее</button>
                    </div>
                </div>
            </div>

            <!-- Мероприятия -->
            <div class="training-item reverse">
                <div class="text-content-for-direction">
                    <p>Мы предлагаем широкий спектр мероприятий, начиная от захватывающих спортивных состязаний по боулингу,
                        просмотров фильмов в кинотеатре, до увлекательных тематических вечеринок, которые создают атмосферу праздника и веселья!</p>
                    <div class="button-container-direction">
                        <button id="eventsButton" class="custom-button-direction">Подробнее</button>
                    </div>
                </div>
                <div class="image-wrapper">
                    <img src="{% static 'club/images/events.jpg' %}" alt="мероприятия" class="training-image">
                </div>
            </div>
            <div class="training-item">
                <div class="image-wrapper">
                    <img src="{% static 'club/images/sbori.jpg' %}" alt="сборы" class="training-image">
                </div>
                <div class="text-content-for-direction">
                    <p>Помимо соревнований, команда ВСК Витязь ежегодно принимает участие в летних и зимних выездных сборах!</p>
                    <div class="button-container-direction">
                        <button id="sboriButton" class="custom-button-direction">Подробнее</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


<!-- Модальное окно -->
<div id="customModal" class="custom-modal">
    <div class="custom-modal-content">
        <span id="closeModal" class="close-button">&times;</span>

        <!-- Слайдеры -->
        {% for slider in sliders %}
        <div id="{{ slider.id }}" class="swiper-container" style="display: none;"> <!-- Скрываем все слайдеры по умолчанию -->
            <div class="swiper-wrapper">
                {% for slide in slider.slides %}
                <div class="swiper-slide">
                    <img src="{% static slide.image %}" alt="{{ slide.alt_text }}">
                    <p>{{ slide.description }}</p>
                </div>
                {% endfor %}
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-pagination"></div>
        </div>
        {% endfor %}
    </div>
</div>





<div class="artboard-container">
    <div class="artboard-element image-element" data-id="1"></div>
    <div class="artboard-element image-element" data-id="2"></div>
    <div class="training-section">
        <div class="training-item">
            <div class="image-wrapper">
                <img src="{% static 'club/images/karate.jpg' %}" alt="Каратэ" class="training-image">
            </div>
            <div class="text-content-for-direction">
                <h2>АРАШИ КАРАТЕ</h2>
                <p>Современное полноконтактное единоборство, включающее в себя всё самое лучшее и прогресивное из восточных и традиционных видов единоборств, таких как бокс, карате,
                    муай тай (тайский бокс), дзюдо, самбо, вольная борьба,грэпплинг, айкидо и айкиджитсу.</p>
                    <button class="custom-button-direction" onclick="openForm('trial', 'arashi_karate')">Записаться на тренировку</button>
                    <button id="karateDetailsButton" class="custom-button-direction">Подробнее</button>
            </div>
        </div>

        <div class="training-item reverse">
            <div class="text-content-for-direction">
                <h2>ТХЭКВОНДО</h2>
                <p>Корейское боевое искусство, особенностью которого является возможность использования в бою ног для ударов и бросков. В отличие от других корейских единоборств, в
                    тхэквондо не используют оружия, считается, что человеческое тело само по себе очень грозное оружие.</p>
                 <button id="techvandoDetailsButton" class="custom-button-direction">Подробнее</button>
                 <button class="custom-button-direction" onclick="openForm('trial', 'taekwondo')">Записаться на тренировку</button>
            </div>
            <div class="image-wrapper">
                <img src="{% static 'club/images/thekvando.jpg' %}" alt="ткэхвандо" class="training-image">
            </div>
        </div>
    </div>
</div>



{% endblock %}
