{% extends 'club/base.html' %}
{% load static %}
{% load custom_filters %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'club/css/schedule.css' %}" />

<div class="page-container">
    <div class="content-wrapper">
        <h1>{{title}}</h1>
        <label for="kind_of_sport">Выберите вид спорта: </label>
        <select id="kind_of_sport">
            <option value="Sambo">Самбо</option>
            <option value="Karate">Карате</option>
            <option value="Taekwondo">Тхэквандо</option>
        </select>

        <label for="age">Выберите возраст: </label>
        <select id="age">
            {% for age in 3|range_filter:17 %}
            <option value="{{ age }}">{{ age }} лет</option>
            {% endfor %}
        </select>

        <button id="getSchedule">Получить расписание</button>

        <div id="scheduleTable"></div>
    </div>
</div>

<!-- Подключаем внешний JavaScript файл -->
<script src="{% static 'club/js/scripts-for-schedule.js' %}"></script>

{% endblock %}
